APP_NAME=PHP core OOP project
APP_URL=http://localhost:8000
APP_ENV=dev
APP_DEBUG=true

# Database
DB_HOST=127.0.0.1
DB_NAME=example_db
DB_USER=root
DB_PASSWORD=<YOUR_ROOT_PASSWORD>

# SMTP Mail
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=<YOUR_SMTP_USERNAME>
MAIL_PASSWORD=<YOUR_SMTP_PASSWORD>
MAIL_FROM=your@gmail.com
MAIL_FROM_NAME=My App

